/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Roboto', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* HEADER */
header {
  width: 10%;
  float: left;
  position: fixed;
}

.logo {
  max-width: 80px;
  max-height: 40px;
}

.header-content {
  display: none;
}

.content-container {
  width: 90%;
  float: right;
}

a {
  font-size: 22px;
  color: #777;
}

ul{
  list-style-type: none;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:hover {
  color: #00a562;
}

/* MAIN CONTENT: TOP */

/* MAIN CONTENT: LATEST */
.latest-img {
  max-width: 294px;
  max-height: 157px;
}

.tc-plus {
  max-width: 60px;
  max-height: 30px;
}

/* FOOTER */
/* footer {

} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

