/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

@font-face {
  font-family: AktivGrotesk;
  src: url('fonts/AktivGrotesk-Regular.otf');
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: AktivGrotesk, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* HEADER */
header {
  width: 15%;
  float: left;
  position: fixed;
}

/* navbar-important */
.logo {
  max-width: 80px;
  max-height: 40px;
}

.join-tc {
  font-weight: bold;
  color: #fdc006;
}

.join-tc:hover {
  color: #dca946;
}

.header-content {
  display: none;
}

.content-container {
  width: 85%;
  float: right;
}

a {
  font-size: 22px;
  color: #777;
}

ul{
  list-style-type: none;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:hover {
  color: #00a562;
}

/* MAIN CONTENT: TOP */

/* MAIN CONTENT: LATEST */
hr {
  clear: both;
}
.latest {
  width: 100%;
}
.latest-img {
  width: 100%;
  height: 100%;
  max-width: 294px;
  max-height: 157px;
}

.tc-plus {
  max-width: 60px;
  max-height: 30px;
}

.title-col, .p-col, .img-col {
  width: 33.3333%;
  float: left;
}

/* FOOTER */
/* footer {

} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

